<div class="jumbotron">
  <div class="page-header">
    <h1>Tervetuloa!</h1>
  </div>
  <div ng-hide="!!account.username">
    <p class="lead">
      Tervetuloa HYKS kuulokeskuksen tinnituspotilaille tarkoitettuun kuunteluharjoitteluohjelmaan!
    </p>
    <p>
      Ole hyvä ja <a href="#/login"><span class="glyphicon glyphicon-log-in"></span> kirjaudu sisään</a> aloittaaksesi harjoittelun,
      tai <a href="#/signup" style="white-space: nowrap"><span class="glyphicon glyphicon-user"></span> rekisteröidy</a> tutkimukseen mikäli sinulla ei ole
      vielä käyttäjätunnusta!
    </p>
  </div>
  <div ng-show="!!account.username && !settings.training_target_reached">
    <p>
      Tervetuloa HYKS kuulokeskuksen tinnituspotilaille tarkoitettuun kuunteluharjoitteluohjelmaan,
      {{account.username}}!
    </p>
    <p>
      Ennen kuin aloitat, kytke kuulokkeet kiinni tietokoneeseen
      ja vaimenna tietokoneen kaiuttimet. Jotta harjoittelu ei häiriintyisi,
      sulje myös muut ohjelmat ja selaimen välilehdet (esim.
      facebook) jotka voivat tuottaa ääniä, ja etsi hiljainen ja rauhallinen paikka
      jossa voit tehdä harjoitukset.
    </p>
    <p>
      Tavoitteena on suorittaa kahdeksan harjoituskertaa. Jokaisella harjoituskerralla
      voit tehdä niin monta harjoitusta kuin haluat. Suositus on kuitenkin tehdä vähintään kolme
      harjoitusta kullakin harjoituskerralla.
    </p>
  </div>
  <div ng-show="!!account.username && settings.training_target_reached">
    <p>
      Olet nyt suorittanut vaadittavat kahdeksan harjoituskertaa.
    </p>
    <p>
      Tee vielä kuuntelutarkkuutta mittaava testi <u>seuraavana päivänä
      viimeisen harjoituskerran jälkeen</u>. Valitse alta 'Tee testi'.
    </p>
  </div>
</div>

<div class="row" ng-show="!!account.username">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Toiminnot</h3>
      </div>
      <div class="panel-body">
        <p ng-show="!currentsession">
          <button class="btn btn-default" ng-hide="settings.training_target_reached" ng-click="startNewSession()"><span class="glyphicon glyphicon-star-empty"></span>&ensp;Aloita uusi harjoituskerta</button>
          <button class="btn btn-default" ng-show="settings.training_target_reached" ng-click="startNewSession('baseline')"><span class="glyphicon glyphicon-play-circle"></span>&ensp;Tee testi</button>
          <br/>
        </p>
        <p ng-show="!!currentsession">
          <span ng-show="!!currentsession.exercises">
            Käynnissä olevalla harjoituskerralla olet
            suorittanut
            <span ng-show="currentsession.exercises.length > 1">
            {{currentsession.exercises.length}} harjoitusta:</span>
            <span ng-show="currentsession.exercises.length == 1"> yhden harjoituksen:</span>
          </span>
          <span ng-show="!currentsession.exercises">
            Tällä harjoituskerralla ei ole suoritettu vielä harjoituksia. Aloita uusi
            harjoitus alta.
          </span>
        </p>
        <ul>
          <li ng-repeat="exercise in currentsession.exercises">
            {{vaikeustasot[exercise.difficulty]}} harjoitus, {{(exercise.correct_counter * 100)/50}}% oikein
          </li>
        </ul>
        <p ng-show="!!currentsession">
          <span ng-show="(currentsession.mode !== 'baseline')">
            <button class="btn btn-default" ng-show="(currentsession.preparations == 'done')" ng-click="startNewExercise()"><span class="glyphicon glyphicon-plus"></span>&ensp;Aloita uusi harjoitus</button>
            <a class="btn btn-default" href="#/vas" ng-show="(currentsession.preparations !== 'done')"><span class="glyphicon glyphicon-cog"></span>&ensp;Tee harjoitusvalmistelut</a>
            <br/>
          </span>
          <a class="btn btn-default" href="#/vas" ng-show="currentsession.mode == 'baseline'"><span class="glyphicon glyphicon-arrow-right"></span>&ensp;Aloita testi</a><br/>
          <button class="btn btn-default" ng-click="finishSession()"><span class="glyphicon glyphicon-ok"></span>&ensp;Lopeta harjoituskerta</button><br/>
          <a class="btn btn-default" href="#/thi" ng-show="!!account.username && settings.training_target_reached"><span class="glyphicon glyphicon-list-alt"></span>&ensp;Tee tinnituskysely</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6" ng-show="!!sessions.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Harjoitushistoria</h3>
      </div>
      <div class="panel-body">
        <h4>Harjoituskertoja tähän mennessä: {{training_sessions}} </h4>
        <span ng-hide="true">training days: {{training_days.length}}</span>
        <ul>
          <li ng-repeat="session in sessions | orderBy: 'createdAt'">
            <span ng-show="session.mode == 'baseline'">Testikerta</span>
            <span ng-show="session.mode == 'training'">Harjoituskerta</span>
            {{session.createdAt | date:'longDate'}}
            <ul ng-show="session.mode !== 'baseline'">
              <li ng-repeat="exercise in session.exercises">
                {{vaikeustasot[exercise.difficulty]}} harjoitus, {{(exercise.correct_counter * 100)/50}}% oikein
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>Tietoa</h4>
    <p>
      Tämä sivu on osa HYKS kuulokeskuksen tutkimusta. Sivuston tarkoituksena on
      tarjota yksilöityä auditorista harjoittelua tinnituspotilaille.
    </p>
    <p>
      Tässä tutkimuksessa tarkoituksena on harjoittaa suuntakuuloa päivittäin
      yksinkertaisella kuuntelutehtävällä: harjoituksen aikana kuulet kaksi
      peräkkäistä ääntä ja tehtävänäsi on kertoa liikkuiko jälkimmäinen ääni
      oikealle vai vasemmalle. Voit valita kolmen vaikeustason välillä ja
      pyrkiä näin parantamaan kuuntelutarkkuuttasi.
    </p>
    <p>
      Kuunteluharjoittelun on tutkimuksissa havaittu usein helpottavan tinnitusoireita,
      ainakin jonkin verran. Siinä missä aiemmissa tutkimuksissa on keskitytty
      taajuuserottelun harjoittelemiseen tai passiiviseen musiikin kuunteluun,
      tässä tutkimuksessa selvitetään kuinka suuntakuuloharjoituksella voitaisiin
      vaikuttaa tinnitukseen. Tutkimusryhmämme on aiemmissa tutkimuksissa löytänyt viitteitä
      sille, että tinnitus voisi näkyä eroavaisuuksina suuntakuulon tarkkuudessa,
      ja olemme kiinnostuneita siitä, voisiko kuulon tarkkuuden parantaminen johtaa
      positiivisiin muutoksiin myös tinnitusta ylläpitävissä aivojen osissa.
    </p>
  </div>
</div>


<script type="text/ng-template" id="exerciseModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Uusi harjoitus</h3>
    </div>
    <div class="modal-body">
      <form name="startExerciseForm">
        <label for="exerciseDifficulty">Valitse harjoituksen vaikeustaso</label><br/>
        <select name="difficultySetting" id="difficultySetting" ng-model="exerciseDifficultySetting">
          <option value="easy" selected="selected">helppo</option>
          <option value="medium">keskivaikea</option>
          <option value="hard">vaikea</option>
        </select>
      </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Peruuta</button>
    </div>
</script>
